/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);*/

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Kohinoor Bangla", sans-serif;

	color:#f2f2f2;
	letter-spacing: 2px;
}
h1{
	letter-spacing:10px;
	font-size:80px;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
/*p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}*/

.wrap{
	max-width: 600px;
	margin:150px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;

}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}
