/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);*/

*{
	padding:0;
	margin:0;
}

body{
	color:#f2f2f2;
	letter-spacing: 2px;
}
h1{
	letter-spacing:10px;
	font-size:80px;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
/*p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}*/

.wrap{
	max-width: 100%;
	margin:150px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;

}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}

.pf_blue_header {
		color: #110d09;
    text-shadow: 2px 1px 11px #6d6c6b;
}
.pf_blue {
	color: cadetblue;
}
.btn_blue {
    padding: 12px 15px;
    font-size: 22px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-radius: 2px;
    color: #fff;
    background-color: cadetblue;
}
.breaking {
	display: block;
	word-wrap: break-word;
}
.header-callout {
	    font-family: inherit;
	    margin: 0;
	    padding: 0;
	    font-size: 4.5em;
	    font-weight: 700;
	    color: #fff;
        display: table;
        width: 100%;
        height: 400px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
